{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">




<div class="aboutme">

<h1 style="font-weight: 800; font-size: 70px;">About me</h1>
<p>A Computer Science student <span style="color:red;">studying</span> in London facinated in web development</p>
<p>A natural problem solver, indepedent and <span style="color:red;">extremely orgaised.</span> </p>
<p>Passions include outdoor activities,  astronomy and literature. </p>
<p>Interested in Front-end, <span style="color:red;">Back-end development</span> and UX design</p>
</div>
</div>










</div>
</div>

{% endblock content%}
